@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

#rotate-msg {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.rotate-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rotate-container .phone {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 6px solid black;
    background-color: #ccc;
    animation: rotate 1.5s ease-in-out infinite alternate;
}

.rotate-container .message {
    color: white;
    font-size: 2em;
    margin-top: 80px;
} 


@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-90deg)
    }
    100% {
        transform: rotate(-90deg)
    }
}




/* Header */


.parallax {
    background-image: url(https://picsum.photos/1940/1080);

    min-height: 700px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url(https://picsum.photos/1920/1080);
    
    min-height: 700px; 
    
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover
}

.parallax3 {
    background-image: url(https://picsum.photos/1930/1080);
    
    min-height: 700px; 
    
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-stretch: expanded;
    color: white;
    margin: 0;
}








/* Waves */

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

/* Wave Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}





/* Navbar */

.nav-space {
    width: 100%; 
    height: 50px; 
    display: none;
}

.nav-container hr {
    border: 1px solid black;
    width: 80%;
    margin: -25px auto;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    width: 100%;
    /* width: fit-content; */
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.4s ease-in-out;
    height: fit-content;
}

.navbar-link {
    color: black;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    /* background-color: #ccc; */
    /* border-radius: 10px; */
}


  
.sticky {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.9);
    backdrop-filter: blur(15px);
    
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky-nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    /* background-color: red; */
}
  




/* Page content */

.side-parallax {
    background-image: url(https://picsum.photos/720/1280);
    min-height: 700px; 
    width: 720px;
    
    /* background-attachment: fixed; 
    background-position: right; 
    background-repeat: no-repeat;
    background-size: auto; */
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 60px;
    padding: 16px;
    margin: auto;
    /* font-size: 15px;
    color: black;
    font-weight: 800; */
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 16px;
    margin: auto;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text p {
    font-size: 15px;
    color: black;
    font-weight: 800;
    width: 50%;
}

.text h1 {
    font-size: 30px;
    color: black;
    font-weight: 800;
    width: 50%;
    margin: 0 auto;
}

.text a {
    color: #5f9aca;
    text-decoration: none;
    padding: 0 0 4px 0;
    font-weight: 600;
}

.button-text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.underline {
    position: relative;
    /* color: black    ; */
}

.underline:before {
    content:'';
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    height:2px;
    width:0;
    transition:width 0s ease, background .5s ease;
}

.underline:after {
    content:'';
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    height:2px;
    width:0;
    background: gray;
    transition:width .5s ease;
}

.underline:hover:before {
    width:100%;
    background: gray;
    transition: width .5s ease;
}

.underline:hover::after {
    width:100%;
    background:black;
}

.sticky + .content {
    padding-top: 60px;
}

.row {
    display: flex;
    gap: 30px;
    padding: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80%;
    max-width: 450px;
    /* border-radius: 10px; */
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: rgb(55, 55, 55);
}






.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    font-size: xx-large;
}

.fa-instagram {
    transition: all .5s ease-in-out;
    background: #9f9f9f;
    color: white;
}

.fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    /* background: #8a3ab9; */
    color: white;
}

.fa-twitter {
    transition: all .5s ease-in-out;
    background: #9f9f9f;
    color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}
  









/* Shrink for Tablet */

@media (max-width: 768px) {
    .parallax {
        background-image: url(https://picsum.photos/840/880);
        min-height: 700px;
    }
    
    .waves {
        height: 90px;
        min-height: 80px;
    }
    
    .title h1 {
        font-size: 42px;
    }

    .content {
        flex-direction: column;
    }

    .side-parallax {
        min-height: 400px;
        width: 100%;
    }

    .footer-content .fa {
        font-size: 25px;
        width: 15px;
        height: 15px;
    }

    .side-parallax {
        background-image: url(https://picsum.photos/750/640);
    }
}



/* Shrink for Mobile */

@media (max-width: 425px) {
   
    /* Phone Rotation */
    @media only screen and (max-device-width: 812px) and (orientation: landscape) {
        #rotate-msg {
            display: flex;
        }
        
        .phone, .message {
            display: block;
        }
    }
    
    .parallax {
        background-image: url(https://picsum.photos/740/610);
        min-height: 400px;
    }

    .waves {
        height: 40px;
        min-height: 40px;
    }
    .title h1 {
        font-size: 32px;
    }

    .footer-content .fa {
        font-size: 25px;
        width: 15px;
        height: 15px;
    }

    .button {
        padding: 15px 32px;
        font-size: 13px;
        margin: 4px 2px;
        /* width: 350px; */
        width: 80%;
    }

    .parallax2 {
        background-image: url(https://picsum.photos/920/600);
        min-height: 500px; 
    }
    
    .parallax3 {
        background-image: url(https://picsum.photos/910/600);
        min-height: 500px; 
    }
    
    .nav-space {
        height: 90px; 
    }

    .side-parallax {
        background-image: url(https://picsum.photos/420/440);
    }
}















.small-white-space {
    width: 100%;
    height: fit-content;
    padding: 50px 0;
}

.white-space {
    width: 100%;
    height: fit-content;
    padding: 150px 0;
}

.space {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 250px;
}